body {
    background: #25282a;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    width: 360px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
  }
  
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    /* text-transform: uppercase; */
  }
  
  #seconds,
  #tens, #colon {
    font-size: 2.7em;
  }

  #colon {
    margin-right: 2px;
  }
  
  button {
    border-radius: 5px;
    background: #a7dbf1;
    color: #25282a;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    font-size: 1.3em;
  }
  
  button:hover {
    transition: all 0.5s ease-in-out;
    background: #25282a;
    border: solid 1px #a7dbf1;
    color: #a7dbf1;
  }